<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewReview</title>
</head>
<body>
    <h1>Home! BrewReview</h1>
    
</body>
</html>